<li class="card card-cat">
  <div class="c"></div>
  <span class="card-category">Category</span>
  <h4 class="card-title"><a href="#">Title</a></h4>
  <span class="card-byline">By Author</span>
</li>
