<ul>
  {%- for nav in collections.nav -%}
  <li{% if page.url == nav.url %} aria-current="page" {% endif %}>
    <a href="{{nav.url}}">
      {{ nav.data.pageTitle }}
    </a>
    </li>
    {%- endfor -%}
</ul>
