.site-header {
  background-color: $color-mint;
}

.site-name {
  color: $color-text-body;
  display: inline-block;
  filter: brightness(130%);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 24px 18px;
  text-decoration: none;
  -webkit-text-stroke: 1px rgba($color-offwhite, 30%);
  transition: all 300ms;
}

a.site-name {

  &:hover,
  &:focus {
    filter: none;
    -webkit-text-stroke: none;
  }
}
