$color-offblack: #0a09088a;
$color-offwhite: #FCFCFC;
$color-grey: #32312f;
$color-orange: #f59431;
$color-yellow: #F6F930;
$color-mint: #A2F1C1;
$color-slate: #22333B;
$color-text-body: $color-slate;
$color-text-link: $color-offblack;
$color-text-link-visited: $color-text-body;
$font-sans: "Lato";
$transition-default: all 300ms;