/* Error: Expected identifier.
 *    ,
 * 63 |       @include #{$pattern};
 *    |                ^
 *    '
 *   src/sass/components/_card.scss 63:16      @import
 *   src/sass/components/_components.scss 1:9  @import
 *   src/sass/styles.scss 6:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 63 \2502        @include #{$pattern};\a    \2502                 ^\a    \2575 \a   src/sass/components/_card.scss 63:16      @import\a   src/sass/components/_components.scss 1:9  @import\a   src/sass/styles.scss 6:1                  root stylesheet";
}
