.card {
  @include patt-corkscrew;
  padding: 12px;
  position: relative;

  &-title {
    a {
      font-size: 22px;
      text-decoration: none;
    }
  }

  &-byline,
  &-category {
    font-family: $font-mono;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &-byline {}

  &-category {
    border-bottom: 2px solid $color-grey;
  }

  &::before {
    background: linear-gradient(-150deg, transparent, $color-yellow);
    content: "";
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
