.site-footer {
  border-image: linear-gradient(to right,
      transparent 12px,
      $color-grey 12px,
      $color-grey 90%,
      transparent 90%) 100% 1;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 64px;
  padding: 12px 18px;
}
